
/* Styles globaux */
body, html {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    padding: O;
    margin: 0;
}
/* En-tête */
header {

    background-color: #1c1b1b; /* Couleur de fond de l'en-tête */
    color: #fff; /* Couleur du texte de l'en-tête */
    padding: 20px;
    text-align: center;
}

/* Styles pour le menu de navigation */
nav {
    justify-content: center;
    display: flex;
    flex-direction: row;
    color: #fff;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Styles pour la zone de recherche */
#search {
    margin-left: 20px;
    padding: 5px;
}

/* Styles pour la section de la bannière */
.hero-banner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100px;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel img {
    width: 100%;
    height: auto;
}

button#prevBtn, button#nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button#prevBtn {
    left: 0;
}

button#nextBtn {
    right: 0;
}




/* Styles pour le contenu principal */
main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; /* Couleur de fond du contenu principal */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

/* Pied de page */
footer {
    background-color: #333; /* Couleur de fond du pied de page */
    color: #fff; /* Couleur du texte du pied de page */
    text-align: center;
    padding: 10px;
}

/* Ajoutez d'autres styles spécifiques à votre tableau de bord ci-dessous */

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#prompt {
    width: 100%;
    margin-bottom: 20px;
}

#generateButton {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

#generateButton:hover {
    background-color: #555;
}

#imageContainer {
    margin-top: 20px;
}

#generatedImage {
    max-width: 100%;
    height: auto;
}

.image {
    margin: 20px;
    display: inline-block;
    text-align: center;
}
.image :hover {
    width: 50%;
    height: 50%;
}

.image img {
    width: 200px; /* ou toute autre taille appropriée */
    height: auto;
    border: 1px solid #333; /* style de bordure optionnel */
}

.image p {
    margin-top: 10px;
    color: #333;
    font-size: 0.9em;
}
